Whatsapp_AI_assisstant.json
{
  "name": "Whatsapp_AI_assisstant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1248,
        -928
      ],
      "id": "57d71db4-281d-4dfa-94e0-9a90bdae716d",
      "name": "WhatsApp Trigger",
      "webhookId": "98be969c-cdeb-46f7-9556-bf7d785874bc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "ShEipiPFnqcU439U",
          "name": "WhatsApp OAuth account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }}||{{ $json.text }}\n\n",
        "options": {
          "systemMessage": "=## Role\n\n* You are an AI agent named **Peter**.\n* Your job is to use tools to complete tasks. **Do not write or summarize anything yourself.**\n\n## Instructions\n\n* Always use the **Knowledge Base** first. If the answer is not found, then use other tools.\n* Use the **Contacts tool** to get user details like name and email.\n* Use the **Email tool** only to send, read, or reply to emails.But first use contacts tool to retrieve users contacts details first. You can send to more than one person if needed.\n* Use the **Writing tool** only for writing blogs, articles, or messages.\n* Use the **Serp tool** when live data or recent updates are needed (like news).\n* Use the **Calendar tool** to create, find, update, or delete events.\n* Always follow the correct order of tools. Use one tool first if another depends on it,like email tool depends on contact tool.\n* Never do tasks yourself that are meant for tools.\n* Accept input from other agents, even if their format is different.\n\n## Notes\n\n* You are helping **Kami**.\n* Current time is: `{{ $now.toString() }}`\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        544,
        -928
      ],
      "id": "88de57ea-f76d-4793-9e18-8f37ced7e0db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        -704
      ],
      "id": "907af72e-3ce5-4a68-aa86-7bdabc873374",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rwXLxx9OO3QhyTuj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=838440309346424",
        "recipientPhoneNumber": "+92 314 5785458",
        "textBody": "={{ $json.output.substring(0, 4096) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1488,
        -928
      ],
      "id": "29d41427-59aa-4833-9b23-a29af7d84c37",
      "name": "Send message",
      "webhookId": "3abadcc4-8d7b-4caf-8fa3-7520e86c8b5c",
      "credentials": {
        "whatsAppApi": {
          "id": "e6A5CDRJZPhZoN2s",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        -704
      ],
      "id": "87ac8295-0b18-4cd6-b925-00dd001a0021",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "114b5df0-0df4-4cf9-9ef2-a1ff47d2008a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "=text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f86e1c2d-c7d4-4e15-8eb7-286ccd53fea5",
                    "leftValue": "={{ $json.messages[0].audio.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "deb92d3c-1742-4ba0-ba9a-a8f363f63f5a",
                    "leftValue": "={{ $json.messages[0].image.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1024,
        -944
      ],
      "id": "19ca340d-7a4c-41d9-8ba3-6baee95d5647",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -576,
        -1120
      ],
      "id": "53b5854a-666e-4ea1-856b-e6bc65c76c40",
      "name": "Download media",
      "webhookId": "528217f1-b80b-4e19-86e2-ccc3080f35d0",
      "credentials": {
        "whatsAppApi": {
          "id": "e6A5CDRJZPhZoN2s",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAA5IIAk7UOcBPjGiQDJzH0IgdEI1xEfMsEZCZCrTqVLzv5aaCrhzCkvRnpQAQZCb2DGdOAMVcEUWZCC0iGMHvRw41ZAd5IRfFOwzkn3rCwpAWkZBrkkB3hLsl7zxC12xvvsSk6uLx2ZCNofZBvVXjiSZC2hglhr6ZAJzIgrt7roBY9QeCrzsVidK7rYUHaEmVkkn2ZA6m5u7I5uZC8shTfDnIpyW83j9fn6hi9mtTGKsHseBWTbuRAZDZD"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        -1120
      ],
      "id": "bdffbace-cb7b-4356-aa24-54cfcfffd48e",
      "name": "HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "e6A5CDRJZPhZoN2s",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        -1120
      ],
      "id": "83df5ecc-7bd5-4c42-b752-0ac134cc2961",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "rwXLxx9OO3QhyTuj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cedad76f-c499-43e3-a657-ef369dbd614a",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -928
      ],
      "id": "7da51f2a-a7b1-477b-9ed1-33b1c189fb8e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -800,
        -736
      ],
      "id": "31b716d3-7f3e-4c7e-8f87-da5bbd0705ea",
      "name": "Download media1",
      "webhookId": "ec8e9ad0-8136-453c-bbca-af65fe857538",
      "credentials": {
        "whatsAppApi": {
          "id": "e6A5CDRJZPhZoN2s",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAA5IIAk7UOcBPsKmRvQ17ZBAbc2Xm7m1f68WFHSUxB6m24SCCdZAl98fCHTOpJiCYsbJUrtJtAj77yfZACTlPA6WaYp3fnM4QVZCDahaFySTz1jG4mJnFm9SmqOwPscIsbbwO0GzNBiWsV12ZAVZBA7oykKwQpikVenByEBSJFUOZAuZAdRPyKzJEsnVXLeIDbCZAT88ZB1fW9wT0DVbVC2ZA3d0web3ZCh4F4okLa8vTSc9zZBUI2gZDZD' `   -H 'Content-Type: application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        -736
      ],
      "id": "1c7fb1f7-a5d2-4e26-9aad-9ca2e65f3f0f",
      "name": "HTTP Request1",
      "credentials": {
        "whatsAppApi": {
          "id": "e6A5CDRJZPhZoN2s",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Carefully analyze the image and provide a detailed, objective description of all visible elements. Identify and describe specific objects, text, colors, shapes, layout, and any relevant visual details. Avoid generalizations or vague terms—be thorough and exact in your observation",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        -736
      ],
      "id": "9b9dad2c-9b63-4731-9ccd-d7e310cd4486",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "rwXLxx9OO3QhyTuj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05b5d46d-2cf0-40aa-bfa6-bc0b3ffaa433",
              "name": "text",
              "value": "=# The user provided the following image and text.\n\n## Image Description:\n{{ $json.content }}\n\n## User Message:\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe this image.\"}}\n{{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -736
      ],
      "id": "60b47f40-248c-4ee6-8e7e-ae4d4bfc1cca",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        352,
        -704
      ],
      "id": "9093d74f-223d-4212-b5d1-37a38be617fe",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        480,
        -704
      ],
      "id": "d5b6d9ec-a5cf-4a95-950c-673bcdee510f",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "dJTNsUJi8vATZ8n4",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Use this tool for Email related task:",
        "workflowId": {
          "__rl": true,
          "value": "67B4MrE2qvY32H2Y",
          "mode": "list",
          "cachedResultUrl": "/workflow/67B4MrE2qvY32H2Y",
          "cachedResultName": "Advanced Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', ``, 'string') }}"
          },
          "matchingColumns": [
            "chatInput"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        608,
        -704
      ],
      "id": "0adbeb04-6303-4b8c-adfe-a11d550408e8",
      "name": "Call 'Advanced Email'"
    },
    {
      "parameters": {
        "description": "use this tool for contacts related tasks:",
        "workflowId": {
          "__rl": true,
          "value": "FyPWDwtmTbOFs0Gv",
          "mode": "list",
          "cachedResultUrl": "/workflow/FyPWDwtmTbOFs0Gv",
          "cachedResultName": "Advance contacts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        736,
        -704
      ],
      "id": "89a581b8-6d2f-409a-af85-93930b3362c7",
      "name": "Call 'Advance contacts'"
    },
    {
      "parameters": {
        "description": "use this tool relative task:",
        "workflowId": {
          "__rl": true,
          "value": "oUvfKjEI5qC6SJpz",
          "mode": "list",
          "cachedResultUrl": "/workflow/oUvfKjEI5qC6SJpz",
          "cachedResultName": "advance writter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        864,
        -704
      ],
      "id": "2d33c3f5-dff7-4615-a7df-f1525251c38e",
      "name": "Call 'advance writter'"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this tool if the question is asked from the knowledge base.",
        "pineconeIndex": {
          "__rl": true,
          "value": "gemini-index",
          "mode": "list",
          "cachedResultName": "gemini-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        992,
        -704
      ],
      "id": "77c817f8-ca5e-4eac-869a-9f8b2fa5237f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "G6UwFHG0RwYISYJu",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        -496
      ],
      "id": "6d0ced99-8ddb-4ebd-ae72-e5feab7f740e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "rwXLxx9OO3QhyTuj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "use this tool for calendar related tasks:",
        "workflowId": {
          "__rl": true,
          "value": "NmJnrfVYKRhfchnf",
          "mode": "list",
          "cachedResultUrl": "/workflow/NmJnrfVYKRhfchnf",
          "cachedResultName": "advanced calender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1280,
        -704
      ],
      "id": "9f5881c3-a714-466a-83d4-7a02ad1c35ce",
      "name": "Call 'advanced calender'"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Advanced Email'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Advance contacts'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'advance writter'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Call 'advanced calender'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb4aa3d3-4b27-4526-a100-175bb1ac463b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6289ac8a43c26f964a95f062985d9238d041200763ec42797afc55179f603fc8"
  },
  "id": "1c72Ob75QS6p3HiR",
  "tags": []
}